<div class="jumbotron text-center">
  <div class="container">
  <h1>Mister Cocktail</h1>
  <p>your one and only source for that drunken stupor you've been nursing</p>
  <%=button_to('CREATE NEW COCKTAIL', new_cocktail_url, :class => "btn btn-primary btn-lg", :method => :get)%>
  </div>
</div>
